* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Righteous', cursive;
}
.card{
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.container {
  background-image: linear-gradient(
    to right,
    rgb(126, 199, 252),
    rgb(166, 227, 227)
  );
  height: 470px;
  width: 212px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
}

/* **************search-bar************** */
.search {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 50px 15px 15px;
}
.search input {
  width: 100%;
  max-width: 230px;
  outline: none;
  border: none;
  padding: 9px 0;
  text-align: center;
  background-color: rgb(240, 243, 243);
  border-radius: 15px 3px;
  /* border-bottom: 3px solid rgb(0, 0, 0); */
  font-size: medium;
  font-weight: 550;
  /* transition: 0.2s ease-in-out; */
}
.search input:focus{
    background-color: aliceblue;
}

/* *******************main*******************/

.main{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(247, 0, 0); */
    text-align: center;

}
.city{
    font-size:x-large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    text-decoration:underline rgb(0, 0, 0,0.8);
    /* border: 2px solid black; */
}
.date{
    color: rgb(27, 27, 27);
    font-size: larger;
    font-weight: 550;
    padding: 0 1px;
}
/* .current{
    /* border: 2px solid black; 
} 
*/
.current .temp{
    /* border: 2px solid black; */
    color:rgb(0, 0, 0);
    font-size: xxx-large;
    font-weight: 900;
    font-style: oblique;
    text-shadow: 3px 3px rgba(73, 72, 72, 0.6);
    padding: 20px 0 0 0;
}

.current .temp span{
    font-weight:600 ;

}
.current .weather{
    color: rgb(255, 0, 0);
    font-size:x-large;
    font-weight: 700;
    padding:0 0 0 0;
    margin: 0;
    /* text-shadow: 1px 2px rgb(0, 0, 0,0.4); */
    
    /* border: 2px solid black; */
}
.current #icon{
    /* border: 2px solid black; */
    padding: 0;
    margin: 0;
}
.current  img{
    /* border:2px solid black; */
    margin: 0;
    transform: scale(1.6);
}

.current .hi-lo{
    color: rgb(0, 0, 0);
    font-size:smaller;
    font-weight: 350;
    text-shadow: 0.5px 0.6px rgba(73, 72, 72, 0.6);
}